#Marca-Jminnovation{
    display: flex;
    border-style: double;
    background-color: rgb(245, 248, 248);
    padding: 3%;
    justify-content: center;
      
}

.logo-item{
    
    border-style:ridge;
    width: 300px;
    background-color: rgb(134, 98, 233);
    text-align: center;
    font-style:inherit ;
    

}  td button:hover {
    color: #56ff38;
    background: #fff;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
  }
  
button {
 display: inline-block;
 height: 200px;
 width: 200px;
 border-radius: 100px;
 background-color: aqua;
}
    
    
    


   

     
    

    
     
     